# Python

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment

.venv/
venv/
env/

# VS Code

.vscode/

# Distribution

build/
dist/
*.egg-info/

# pytest

.pytest_cache/

# mypy

.mypy_cache/

# OS

Thumbs.db
.DS_Store

__pycache__/
*.pyc
.venv/
.vscode/